snippet prop "public class property" b
public ${1:string} ${2:name}${3:\{
	get; set;
\}}
endsnippet

snippet pprop "private class property" b
private ${1:string} ${2:name}${3:\{
	get; set;
\}}
endsnippet

snippet xdsum "xml documentation summary tag" b
/// <summary>
/// ${1}
/// </summary>
endsnippet


snippet xdoc "xml documentation tag" b
/// <${1:summary}>
/// ${2}
/// </$1>
endsnippet


