snippet func "function" b
function ${1:name}(${2}){
	${3}
}
endsnippet

snippet logs "log string" b
console.log("${1}");
endsnippet

snippet logv "log variable" b
console.log("$1", ${1:i});
endsnippet

snippet fori "for index" b
for(var i=0; i<${1:array}.length; i++){
	${2}
}
endsnippet
